<h4>フォロワーの一覧</h4>
<% @follower_users.each do |follower_users| %>
<%= link_to gravatar_for(follower_users, size: 50), follower_users %>
<span class="user"><%= link_to follower_users.name, follower_users %></span>
<% end %>