<h4>フォローの一覧</h4>
<div class="row">
  <ul class="microposts">
  <% @following_users.each do |following_users| %>
  <br>
    <%= link_to gravatar_for(following_users, size: 50), following_users %>
    <li>
    <span class="user"><%= link_to following_users.name, following_users %></span>
    </li>
  <% end %>
  </ul>
</div>